@import '~assets/css/variables'

.content
  display flex
  justify-content center
  align-items center
  flex-direction column

.buttons
  max-width 460px
  width 100%
  display flex
  > button
    flex 1
    padding-left 0
    padding-right 0
