@import '~assets/css/variables'
//
// .wrapper
//   position relative
//
// .filters
//   padding 32px 32px 0 0
//
// .list
//   position relative
//   &:before
//     content ''
//     position absolute
//     height calc(100vh - 61px)
//     width 1px
//     background $color-border
//     z-index 0
//     bottom 0
//     right 0
//
//   .scrollArea
//     max-height calc(100vh - 61px)
//     overflow auto
//
.loader
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background #fff
  display flex
  align-items center
  justify-content center
  padding-right 50px
  z-index -1
  opacity 0
  transition .2s ease
  &.loaderVisible
    opacity 1
    z-index 1000
//
// .noResults
//   margin-top 32px

.list
  position relative
