@import '~assets/css/variables'

.wrapper
  display flex
  flex-wrap wrap
  justify-content space-between

.category
  border-radius $border-radius
  text-align center
  padding 10px 15px
  transition .15s ease background
  width 16%
  &:hover
    background $color-gray-gamma
    cursor pointer
