@import '~assets/css/variables'

.wrapper
  display flex
  flex-wrap wrap
  justify-content space-between

.category
  border-radius $border-radius
  text-align center
  padding 27px 0px
  transition .15s ease
  width 16%
  text-transform uppercase
  margin $vertical-rhytm-half 0
  &:hover
    background $brand-primary
    color #fff
    cursor pointer

  i
    font-size 30px
    margin-bottom 10px

.categoryActive
  background $brand-primary
  color #fff
