@import '~assets/css/variables'

.features
  display flex
  button
    margin-bottom 0

.section-content
  display flex
  align-items center
  padding-left $vertical-rhytm-triple
  padding-right $vertical-rhytm-triple
  .text
    p
      max-width 400px
      margin-left 0
      margin-right 0
    h4
      max-width 400px

.section-alpha
  .text,
  .image
    flex 1

.section-beta
  background radial-gradient(ellipse at center,#585858 0,#232323 100%)
  background-size 550% 450%
  .text
    flex-shrink 1
    width 30%
  .image
    width 70%
    margin-top -100px
    position relative
    height 660px
    img
      top 0
      right 100px
      position absolute
      max-width 920px
      width auto
