@import '~assets/css/variables'
//
// .wrapper
//   position relative
//
// .filters
//   padding 32px 32px 0 0
//
// .list
//   position relative
//   &:before
//     content ''
//     position absolute
//     height calc(100vh - 61px)
//     width 1px
//     background $color-border
//     z-index 0
//     bottom 0
//     right 0
//
//   .scrollArea
//     max-height calc(100vh - 61px)
//     overflow auto
//

.loader
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background #fff
  display flex
  align-items center
  justify-content center
  padding-right 50px
  opacity 0
  transition 5s ease all
  &.loaderVisible
    opacity 1
    z-index 1000

.noResults
  display flex
  align-items center
  justify-content center
  padding 80px 0
  h4
    margin-bottom 0

.list
  position relative
  background hsla(0, 0%, 96%, 1)

.grid
  padding-left $vertical-rhytm-triple
  padding-right $vertical-rhytm-triple
  &:after
    content ""
    width 100%
    @media $sm-up
      width 49%
    @media $md-up
      width 31.5%
  @media $sm-up
    display flex
    justify-content space-between
    flex-wrap wrap

    > div
      width 49%

  @media $md-up
    > div
      width 31.5%

// :global
//   .appear-enter {
//     opacity: 0.01;
//   }
//
//   .appear-enter.appear-enter-active {
//     opacity: 1;
//     transition: opacity 60000ms ease-out;
//   }
//
//   .appear-leave {
//     opacity: 1;
//   }
//
//   .appear-leave.appear-leave-active {
//     opacity: 0.01;
//     transition: opacity 50000ms ease-in;
//   }

.content
  > div
    min-height 184px

.dark
  background $color-background-dark
  .noResults
    color #fff
