@import '~assets/css/variables'

.wrapper
  > *
    display inline-block
    margin-right $vertical-rhytm-half

.stretch
  display flex
  justify-content space-between
  align-items center

  > *
    margin-left 0
    margin-right 0
