@import '~assets/css/variables'

.wrapper
  border-radius $border-radius
  padding 20px
  border 1px solid $color-gray-gamma
  box-shadow 1px 1px 5px rgba(0,0,0,0.15)
  min-height 335px
  margin-bottom 30px

.header
  background $brand-primary
  color #fff
  text-align center
  margin-top -40px
  margin-bottom $vertical-rhytm-base
  border-radius $border-radius
  box-shadow 1px 1px 5px rgba(0,0,0,0.15)
  padding 20px 0
  font-size 16px

.company
  margin-top 20px

.logo
  height 80px
  display flex
  align-items center
  margin $vertical-rhytm-base 0
  img
    max-width 70px
    height auto
    display block
    margin 0 auto

.description
  font-size 14px
  text-align center
  min-height 63px

.buttons
  display flex
  justify-content center
  max-width 200px
  margin 0 auto
  button
    flex 1
    &:first-child
      margin-right 16px

.btnPrimary
  min-width 200px
