@import '~assets/css/variables'

.features
  display flex
  button
    margin-bottom 0

h1
  text-align center
  color red

.info
    height 220px

h4
  line-height 1.5pt

.section-content
  display flex
  align-items center
  .text
    p
      max-width 400px
      margin-left 0
      margin-right 0
    h4
      max-width 400px

.floatleft
  float left

.logotile
  padding 120px 0


.customtitle
  text-align center
  padding 50px 0px 0px 0px
  color #68408e

.violet
  color #68408e

.customdescription
  padding 0px 0px 30px 0px

.textdivider
  background linear-gradient(60deg,#ab47bc,#8EA6D1)
  color white

.textdividerblue
  background linear-gradient(60deg,#8EA6D1,#ab47bc)
  color white

h5
.description
  text-align center

.icons
  float left
  padding-right 10px
  color #68408e

.nobottomborder
  border-bottom none

.nobottomborder2
  border-bottom none
  padding-bottom 0px

.section-alpha
  .text,
  .image
    flex 1

.section-beta
  background radial-gradient(ellipse at center,#585858 0,#232323 100%)
  background-size 550% 450%
  .text
    flex-shrink 1
    width 30%
  .image
    width 70%
    margin-top -100px
    position relative
    height 660px
    img
      top 0
      right 100px
      position absolute
      max-width 920px
      width auto
