@import '~assets/css/variables'

.wrapper
  display flex
  padding 52px

.sidebar
  flex-grow 1
  max-width 30%
  border-right 1px solid $color-gray-beta
  padding-right $vertical-rhytm-base

.content
  flex-grow 1
  padding-left $vertical-rhytm-triple
