@import '~assets/css/variables'

.wrapper
  display flex
  align-items flex-start
  justify-content space-between
  // max-width 1000px
  margin 0 auto

.field
  flex-grow 1
  max-width 31.5%

.horizontal
  display block
  max-width 100%
  .field
    max-width 100%
