@import '~assets/css/variables'

.wrapper
  height 80px
  border-bottom 1px solid rgba(255,255,255,.15)
  transition .15s ease background

.content
  display flex
  align-items center
  margin 0

.logo
  margin-right 25px

.popover
  font-size 12px
  display flex
  margin 6px 3px 0 auto
  button
    height 60px

.socialLinks
  color #fff
  font-size 20px
  height 20px
  margin-left 10px
  i
    display block
    height 20px
    margin-right 10px
    display inline-block
    -webkit-font-smoothing antialiased

:global
  .headroom--unpinned,
  .headroom--pinned
    > div
      background $brand-primary
      border-bottom 0
