@import '~assets/css/variables'

.wrapper
  height 80px
  border-bottom 1px solid rgba(255,255,255,.15)
  transition .15s ease background

.content
  display flex
  align-items center
  margin 0

.logo
  margin-right 25px

.btnLogout
  margin-left auto

:global
  .headroom--unpinned,
  .headroom--pinned
    > div
      background hsla(291, 50%, 40%, .9)
      border-bottom 0
