@import '~assets/css/variables'

.wrapper
  display flex
  align-items center
  justify-content space-between
  text-align left
  height 75px
  padding-left $vertical-rhytm-triple
  padding-right $vertical-rhytm-triple

.actions
  > *
    margin-bottom 0
