.wrapper
  display flex
  height 100vh

col()
  display flex
  align-items center
  justify-content center
  flex-direction column
  flex 1

.col-left
  col()
  background url('assets/img/login-background.png')
  background-size cover

.col-right
  col()

.content
  min-width 360px

.logo
  margin-bottom 8px
