@import '~assets/css/variables'

active()
  color $brand-primary
  opacity 1
  h4
    color $brand-primary

.wrapper
  flex 1
  text-align center
  position relative
  transition .15s ease opacity, .15s ease color
  border-bottom 1px solid $color-border-light
  &:hover
    active()
  &:after
    background $brand-primary
    bottom -1px
    content ''
    height 3px
    left 50%
    transform translateX(-50%)
    position absolute
    width 0
    transition .15s ease color, .15s ease width
  h4
    font-size 14px
    padding $vertical-rhytm-base 0

.isActive
  active()
  &:after
    width 100%
