@import '~assets/css/variables'

.badge
  &-logo
    margin-bottom $vertical-rhytm-half
    img
      max-width 160px
      max-height 50px
      display block

.badgeName
  h2
    margin-bottom $vertical-rhytm-half
