@import '~assets/css/variables'

.wrapper
  border-bottom 1px solid $color-gray-beta
  padding-left $vertical-rhytm-triple
  padding-right $vertical-rhytm-triple
  > div
    margin $vertical-rhytm-base auto
